*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    background-color: plum;
 }
 .my-img{
    width: 110px;
    border: 2px solid rgb(165, 72, 184);
    border-radius: 10px 30px 10px 30px;
    height: 80px;
    margin-top: 20px;
    margin-left: 15px;
 }

 .container{
    margin: auto;
    width: 350px;
    border: 2px solid rgb(144, 28, 155); 
    border-radius: 10px; 
    box-shadow: 10px 20px 10px 10px rgb(219, 76, 219);
 }

 h1{
    text-align: center;
    color: rgb(133, 50, 128);
    font-style: oblique;
    font-weight: bold;
    /* font-size: 40px; */
 }
 .input{
    height: 50px;
    width: 300px;
    border: 2px solid rgb(223, 83, 204);
    border-radius: 22px 0px 22px 1px; 
    margin-left: 20px; 
    background-color: rgb(247, 182, 241);
    margin-top: 5px;
    margin-bottom: 10px;
    letter-spacing: 3px;
 }
 
 input:focus{
    color: rgb(68, 12, 78);
    
 }
 .button{
    height: 40px; 
    width: 300px; 
    border: 2px solid rgb(223, 83, 204);  
    border-radius: 20px 0px 18px 1px;;
    margin-top: 15px; 
    margin-left: 20px; 
    margin-bottom: 10px; 
    background-color: rgb(187, 69, 187); color: rgb(187, 157, 214);
 }
 .button:hover{
    background-color: rgb(180, 30, 173);
 }
 ::-webkit-input-placeholder{
    text-align: center;
    color: rgb(194, 84, 166);
 }
 label{
    margin-left: 30px;
    font-size: 20px;
    color: rgb(180, 14, 166);
    font-style: oblique;
    
 }